*{
    margin: 0;
    padding: 0;
    font-family: 'raleway','Segoe UI';
    color: #383833;
    /* outline: 2.5px double #ff010180;  */
    user-select: none;
    -webkit-user-drag:none ;
}
/* *:hover{
    outline: 3px double rgb(56, 1, 255); 
} */


a{
    text-decoration: none;
}
body{
    /* background: #eeee78; */
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg,#fafafa ,#fafafabd );
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    z-index: 1000;
    transition: all 0.1s ease-in-out;
}


nav{
    font-size: 24px;
        /* transition: 3s ease; */
    font-weight: bold;
    display: flex;
    gap: 5vw;
}


.humburger{
    display: none;
    cursor: pointer;

} 
.Bar{
    display: block;
    height: 5px;
    width: 40px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    background-color:#383833;
}
article{
    height: 100vh;
    background-image: linear-gradient(180deg, #DEF0D8, #FAFAFA);
    overflow: hidden;
}


.description{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:relative;
    top: 12.5vh;
    left: 1vh; 
    z-index: 99;
}
.description__content{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content > h1{
    font-size:  60px ;
    line-height: 71px;
    font-weight: 700;

}
.dcontent > h2{
    font-size:  50px ;
    line-height: 71px;
    font-weight: 700;

}
.content > h3{
    font-size:  30px ;
    line-height: 20px;
    font-weight: 500;
    color: #F19A33;
}
.content >p{
    width: 400px;
    font-size:  20px ;
    font-weight: 400;
}
p{
    font-size:  20px ;
    font-weight: 400;
}

.content__btn{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}
.btn--orange{
    background-color: #F19A33;
}
.btn--green{
    background-color: #387546;
}
.background__bubble{
    border-radius: 50%;
    
    opacity: 1;
}
.bubble--one{
    position:relative;
    top: -77.5vh;
    left: 50vw;
    width: 900px;
    height: 900px;
    background: #387546;
    
}
.bubble--two{
    position:relative;
    top: -57.5vh;
    left: -15vw;
    width: 600px;
    height: 600px;
    background: #598463;
}
.bubble--Three{
    position:relative;
    /* top: 150px; */
    /* left: -175px; */
    right:14vw;

    width: 125vw;
    height:  100vw;
    background: #598463;
}
.bg__logo{
    background:   #FFFFFF ;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 18.5vw;
    width: 18.5vw;
    position:absolute ;
    left: 50%;
    transform: translateX(-9.25vw) translatey(-10vw);
    z-index: 99;
    border-radius: 50%;
}
.bg__logo img{
    height:12.5vw; 
    width:12.5vw; 
}
/* .bubble--Three::after{
    content:"";
    height: 225px;
    width: 225px;
    background-position: center;
    z-index: 99;
    position:absolute;
    top: -100px;
    left: 49vw;
    
} */
img.background__chili{
    position:relative;
    top: -95vh;
    left: -02.5vw;
    z-index: 99;
}


#About_us{
    height: 80vh;
    background-image: linear-gradient(180deg, #fafafa, #e6e6e6c5);
    overflow: hidden;
}
#Menu{
    /* height: 1000vh; */
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(180deg, #e6e6e6c5, #ffffff);
    overflow: hidden;

}
.Menu__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Galary--menu{
    gap: 24px;
}
.Galary--customers{
    gap: 1vw;
}
.Galary--menu > .Galery__child {
    
    height: 416px;
    width: 392px;
}
/* .Galary--customers > img{

} */



.content__Galery{
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    
}

.Galary--contact > .Galery__child{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    height: 180px;
    width: 300px;
    border-radius: 78px;
    box-shadow: 0px 17px 20px #00000031;
}
.Galary--contact{
    display: flex;
    flex-direction: row;
    margin: 10px;

}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15vw;
}
.Menu__info{
    position: relative;
    top: -50px;
    background-color: #FFFFFF;
    height: 100px;
    width: 392px;
    box-shadow: 0px 5px 10px #0000003b;
}
.Menu__title{
    display: flex;
    justify-content: space-between;
    padding: 16px;

}
.Menu__description{
    padding-left: 16px ;
}

footer{
    overflow: hidden;
    height: 325px;
}
.background__bubble{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 50px ;
}
.nav--footer{
    position: relative;
    top: 10%;
    margin-top: 10px;

    /* height: 50px; */
    /* width: 100px; */

}
.nav--footer a{
    color: #FaFaFa;
    font-weight: 600;
}
.nav--icon{
    margin-top: 25px;
    padding-left: 20%;
}



@media only screen and (max-width: 750px) {
     #contact{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* justify-content: center; */
        /* padding-bottom: 100px; */

    }
    .header--active{
        /* height: 300px; */
        /* align-items: flex-start; */
        padding-bottom: 150px;
        background-color: #fafafaaf;

    }
    .Galary--contact  .Galery__child{
        width: 350px;
    }
    
    .humburger{
    display: block;
    } 
    .humburger--active .Bar:nth-child(2){
    opacity: 0;
    } 
    .humburger--active .Bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    } 
    .humburger--active .Bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    } 
     .nav__Bar{
        display: none;
        margin-top: 10px;
        padding: 0%;
        gap: 2vw;
        position: fixed;
        top: 70px;
        text-align: center;
        flex-direction: column;
        width: 100%;

    } 
    .Bar--active{
    display: flex; 
    }
  }